{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
{% load static %}
{%include 'nav.html' %}
<section class="side-content" id="about">
    <div class="text">
        <h1>About</h1>
        <hr>
        <p>Hi, Its me Prashant Bhandari</p>
    </div>
    <footer>
        <p>© 2023 BulkShare | Made with Django and React by <a href="https://iamprashant.tech" class="link">Prashant
                Bhandari</a>. All rights reserved</p>
    </footer>
</section> 
{% endblock %}

