{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
{%include 'nav.html' %}
    <!--
        Home Section
    -->
    <section class="side-content" id="home">
        <div class="text">

            <div class="right-header">
                <h3>Add Once,
                    <span class="h3-primary">Apply Always With Single Click.</span>
                </h3>
            </div>

            <p class="p-text">A bulk IPO applier is a tool that allows you to quickly and efficiently apply for initial
                public offerings (IPOs) in large quantities.

                Overall, a bulk IPO applier is a useful tool for streamlining the IPO application process and managing
                large volumes of applications.
            </p>


        </div>
        <footer>
            <p>© 2023 BulkShare | Made with Django and React by <a href="https://iamprashant.tech" class="link">Prashant
                    Bhandari</a>. All rights reserved</p>
        </footer>

        </div>

    </section>

{% endblock %}


    

