<html>

<head>
    <title>Login - Bulkipo</title>
</head>
{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock %} {% block content %}


<div class="container" id="container">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %} {% endif %}
    <div class="form-container sign-in-container">
        <form method="POST">
            <h1>Sign in</h1>
            <p></p>
            {% csrf_token %} {% if form.errors %}
            <p style="color:red;"> Your username and password didn't match. Please try again.</p>
            {% endif %}



            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Username">

            <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Enter Password">




            <a href="{% url 'password_reset' %}">Forgot Password?</a>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>



        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">

            <div class="overlay-panel overlay-right">
                <h1> Bulk IPO</h1>
                <p>Signup and start applying ipo in one click.</p>
                <button class="ghost" id="signUp" onclick=location.href="{% url 'register' %}">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>© 2023 BulkShare | Made with Django and React by <a href="https://github.com/prashant0ngx/" class="link">Prashant
            Bhandari</a>. All rights reserved</p>
</footer>


{% endblock %}

</html>