<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .btn-primary{
    height: 50px;
    width:30%;
    position: relative;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color:white;
    border: 1px solid #2b4eff;
	background-color: #2b4eff;
    cursor: pointer;
    transition: var(--tran-05);
}
.btn-primary:hover{
    background-color: #acb6f1;
    color:black;
}
</style>
<div class="container">
    <div class="row mt-4 align-self-center">
        <div class="col ml-0 border-radius-10  ">
            <div class="card shadow border-radius-10 align-self-center da-overlay">
                <div class="card-body">
                    {% if validlink %}
                    <h4>Password Reset Confirm Page</h4>
                    <hr>
                    <form action="" method="post">{% csrf_token %} {{ form.new_password1.errors }}
                        <div class="input-group">
                            <label for="id_new_password1"></label>
                            <input class="form-control" type="password" id="id_new_password1" name="new_password1" value="" placeholder="New Password" required>
                        </div>

                        {{ form.new_password2.errors }}

                        <div class="input-group">
                            <label for="id_new_password2"></label>
                            <input class="form-control" type="password" id="id_new_password2" name="new_password2" value="" placeholder="Confirm Password" required>
                        </div>

                        <div class="input-group">

                            <input type="submit" class="btn btn-primary btn-block" value="Change my password" />

                        </div>
                    </form>{% comment %}
                    <form method="POST">
                        {% csrf_token %} {{ form}}
                        <input class="btn btn-primary btn-block" type="submit" value="Reset Password Confirm">
                    </form> {% endcomment %}
                    <hr> {% else %}
                    <div class="alert alert-info">
                        <h1>Password reset unsuccessful.</h1>
                        <p>The password reset link was invalid, <br /> possibly because it has already been used. <br /> Please request a new password reset.</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
<footer>
    <p>© 2023 BulkShare | Made with Django and React by <a href="https://github.com/prashant0ngx/" class="link">Prashant
            Bhandari</a>. All rights reserved</p>
</footer>

