{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Password Reset Done Page</h4>
                    <hr>
                    <div >
                        An mail with instructions to reset password has been sent to the email you provided.
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<footer>
    <p>© 2023 BulkShare | Made with Django and React by <a href="https://github.com/prashant0ngx/" class="link">Prashant
            Bhandari</a>. All rights reserved</p>
</footer>

