{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .btn-primary{
    height: 50px;
    width:30%;
    position: relative;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color:white;
    border: 1px solid #2b4eff;
	background-color: #2b4eff;
    cursor: pointer;
    transition: var(--tran-05);
}
.btn-primary:hover{
    background-color: #acb6f1;
    color:black;
}
</style>
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
       
             
                    <h4 align="center">Password Reset Page</h4>
                    <hr>
                    <span style="color:#46569e; font-size: large;">
                        Enter email and a mail will be sent with instructions to reset password
                    </span>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.email.errors }}
                     
                            <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email">
                        
                      
                      

                        <input class="btn btn-primary btn-block" type="submit" value="Reset Password">

                    </form>
                    <hr>
        
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<footer>
    <p>© 2023 BulkShare | Made with Django and React by <a href="https://github.com/prashant0ngx/" class="link">Prashant
            Bhandari</a>. All rights reserved</p>
</footer>
